#frist{
    background-color: chartreuse;
    color:green;
}
.red{
    background-color: blueviolet;
}
.bg-white{
    background-color: rgb(45, 49, 4);
    color: rgb(211, 195, 195);
    padding:0lh
}